.list {
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 15px;
  @media(min-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media(min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.item {

}