@import "../../commonStyle/variable";

.grid_photo {
  border-radius: 20px 0 0 20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 4px;
  height: 100%;
}

.grid_photo_v2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 8px;

}

.picture_wrp_v2 {
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  overflow: hidden;

  &_default {
    background: $blue-lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $blue-200;
  }
}

.picture_wrp {
  width: 100%;
  max-height: 498px;
  cursor: pointer;
  position: relative;

  &:first-child {
    grid-column: 1/6;
    grid-row: 1/4;
  }
}
.picture_wrp_v3 {
  width: 100%;
  max-height: 164px;
  cursor: pointer;
  position: relative;

  &:first-child {
    grid-column: 1/6;
    grid-row: 1/4;
  }
}
.picture {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.picture_rest {
  position: absolute;
  padding: 19px 28px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #FFFFFF;
  border-radius: 39px;
  left: 7px;
  right: 7px;
  z-index: 1;
  top: calc(70% - 60px);
  color: $white;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.g_1 {
  overflow: hidden;
  border-radius: 20px 0 0 20px;
  grid-column: 1/2;
  grid-row: 1/4;
}

.rest_photos {
  display: none;
}
