.slider {
  width: 100%;
  height: 100%;
  .swiper-pagination {
    display: flex;
    position: absolute;
    bottom: 10px;
  }
}

.slide {
  position: relative;
  padding-top: 56%;
  height: 100%;
  @media(min-width: 992px) {
    padding-top: 0;
  }
  img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media(min-width: 992px) {
      position: static;
      top: auto;
    }
  }


}