@import "../../../../../commonStyle/variable";

.third_step {
  max-width: 814px;
  margin: 0 auto;

  &_title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    margin: 0 0 8px;
    @media(min-width: 992px) {
      font-size: 24px;
    }
  }

  &_back {
    &:before {
      content: ' ';
      background-image: url("../../../../../assets/svg/icons/arrow-rigth-blue.svg");
      transform: rotate(180deg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 7px;
      height: 11px;
      display: inline-block;
      margin-right: 8px;
    }
  }

  &_subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    margin: 0 0 10px;
    @media(min-width: 992px) {
      font-size: 16px;
    }
  }

  &_form {
    margin: 24px -16px 0 -16px;
    background: $white;
    @media(min-width: 576px) {
      margin: 24px -30px 0 -30px;
    }
    @media(min-width: 768px) {
      margin: 28px auto 0 auto;
      border-radius: 20px;
    }

    &_block {
      border-bottom: 1px solid $gray200;
      padding: 24px 16px 32px 16px;
      @media(min-width: 576px) {
        padding: 24px 32px 32px 32px;
      }
      @media(min-width: 768px) {
        padding: 24px 20px 32px 20px;
      }

      &:last-child {
        padding: 24px 16px;
        border-bottom: none;
        @media(min-width: 576px) {
          padding: 24px 32px;
        }
        @media(min-width: 768px) {
          padding: 24px 20px;
        }
      }
    }

    &_field {
      display: grid;
      margin-bottom: 20px;
      grid-row-gap: 16px;
      grid-column-gap: 20px;

      &_mb8 {
        margin-bottom: 8px;
      }

      @media(min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }

      &_textarea {
        grid-column: 1/3;

        & textarea {
          height: 100px;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      &_title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        margin: 0 0 12px;
      }

      &_subtitle {
        font-weight: bold;
        font-size: 16px;
        line-height: 1.5;
        margin: 0 0 16px;
      }

      &_hint {
        font-size: 14px;
        margin: 0 0 16px;
      }

      &_dropdown {
        margin-top: 10px;
      }

      .third_step {
        &_form {
          &_field {
            @media (min-width: 576px) {
              grid-template-columns: repeat(2, 1fr);
            }
          }
        }
      }
    }

    &_checkboxes {
      margin-top: 19px;

      &_result {
        color: $blue;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin: 0;
      }

      &_check {
        border: 1px solid #DDE7ED;
        border-radius: 2px;
      }

      &_label {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $black !important;
      }
    }

    &_info {
      display: flex;
      flex-direction: row;
      padding: 16px 15px;
      background-color: #D9F1FF;
      color: #19ACFE;
      margin-bottom: 15px;
      border-radius: 4px;
    }

    &_infoImage {
      background-image: url("../../../../../assets/svg/icons/info-blue.svg");
      width: 40px;
      height: 20px;
      flex: 0 0 20px;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 7px;
    }

    &_infoText {
      font-size: 14px;
      line-height: 1.4;
    }

    &_deleteImage {
      background-image: url("../../../../../assets/svg/icons/bucket-red.svg");
      width: 40px;
      height: 20px;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 7px;
    }

    &_addLanguage {
      width: 40px;
      height: 40px;
      border-radius: 50px;
      background-color: #A8E0FF;
      color: #19ACFE;
      margin-right: 15px;
    }

    &_addLanguageText {
      font-size: 14px;
    }

    &_languageSelect {
      width: 50%;
    }

    &_fieldMargin {
      @media(min-width: 768px) {
        margin-top: 24px;
      }
    }

    &_serviceLayout {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid $gray200;
      padding: 0 0 10px;

      & > label {
        flex: 1 1 auto;
      }
    }

    &_childrenPriceArea {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 300px;
      margin-bottom: 20px;
      @media(min-width: 576px) {
        flex-direction: row;
      }
    }

    &_extraBedsSelect {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 200px;
      margin-bottom: 20px;
    }

    &_servicePriceSelect {
      width: 120px;
      margin-left: 6px;
      flex-shrink: 0;
    }

    &_bedInfo {
      margin-bottom: 20px;
    }

    &_serviceTitle {
      font-weight: 400;
      color: $black !important;
    }

    &_languageArea {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
    }
  }

  &_services_dropdown {
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-top: 1px solid $gray200;
    border-radius: 0;
    height: auto;

    &:first-child {
      border-top: none;
    }

    h2 {
      font-size: 16px;
      font-weight: 500;
      margin: 12px 0;
      line-height: 1.5;
    }
  }

  &_buttons {
    margin: 24px 0 0;
    display: flex;
    justify-content: flex-end;
    column-gap: 12px;

    &_cancel {
      border: 1px solid $blue-400;
      height: 36px;
      padding: 9px 16px 10px;
      border-radius: 18px;
    }

    &_save {
    }
  }
}