@import "../../../../commonStyle/variable";

.btn_style {
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: '';
    width: 25px;
    height: 20px;
    background-image: url("../../../../assets/svg/icons/heart-red.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 15px;
  }
}

.bell_btn {
  width: 38px;
  height: 14px;
  background-image: url("../../../../assets/svg/icons/bell.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.notification {
  position: absolute;
  background-color: #FF4E4E;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  top: 31px;
  margin-left: 21px;
  color: white;
}