@import "../../../../../../commonStyle/variable";

.modal {
  border-radius: 20px;
  padding: 20px;
  &_valid{
    background: $white;
    color: $red;
  }

  &_success{
    border-radius: 20px;
    padding: 28px 35px 28px 37px;
    &_title {
      font-weight: 600 !important;
      font-size: 24px !important;
      line-height: 150% !important;
      margin: 0;
    }
  }

  &_title {
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 160% !important;
    letter-spacing: 0.15px;

    &_error {
      color: $red;
    }
  }

  &_step {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: $gray400;
    text-align: center;
    padding-bottom: 12px;
    &_wrp{
      padding-bottom: 12px;
      text-align: center;
      margin-bottom: 24px;
      border-bottom: 1px solid $gray200;
    }
  }

  &_input {
    & > input {
      height: 36px;
      padding: 8px 16px;
    }
  }

  &_label {
    color: $black;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    & p {
      margin: 0;
    }

    & a {
      color: $blue;
      margin: 0;
    }

  }

  &_text {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
  }

  &_button {
    height: 36px;
    margin-top: 32px;
  }

  &_checkbox {
    &_wrp {
      margin-top: 12px;
    }

    & > span {
      &:nth-child(1) {
        border: 1px solid $gray;
      }
    }

  }
}