@import "../../../../commonStyle/variable";

.reset_password{
  &_title{
    margin: 0px;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
  }
  &_wrp{

  }
  &_input{
    margin-top: 12px;
    & input{
      color: $blue !important;
    }
  }
  &_btn{
    margin-top: 32px;
    width: 100%;
  }
}