@import "../../commonStyle/variable";

.form_help {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 42px;
  background: $blue-lighter;
  border-radius: 4px;

  &_txt {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: $blue-200;
    position: relative;
    p {
      margin: 0 0 0.5rem;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &:before {
      position: absolute;
      content: ' ';
      width: 20px;
      height: 20px;
      left: -28px;
      display: inline-block;
      background: center/cover no-repeat url("../../assets/svg/icons/help-blue.svg");
    }
  }
}