.recovery_password{
  
  &_title{
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    margin: 0;
    text-align: center;
  }
  &_mg{
    margin-top: 14px;

  }
  &_mg20{
    margin-top: 20px;
  }
  &_section{
    width: 100%;
  }
  &_wrap{
    justify-content: space-evenly;
  }
}
.email_recovery{
  margin-top: 14px;
  &_txt{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
  }
  &_btn{
    width: 100%;
    margin-top: 24px;
  }

}