@import "../../../../commonStyle/variable";

.blueArrow {
  background-image: url("../../../../assets/svg/icons/arrow-rigth-blue.svg");
  width: 10px;
  height: 10px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 20px;
  transform: rotate(0.25turn);
}

.support_line {
  background: $white;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }

  &_header {
    min-height: 48px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    &_status{
      margin: 10px 0 0;
      @media(min-width: 576px) {
        margin: 0 0 0 20px;
      }
    }
    &_wrap {
      display: flex;
      flex: 1 1 auto;
      justify-content: space-between;
      padding: 14px 16px;
      flex-direction: column;
      @media(min-width: 576px) {
        flex-direction: row;
        padding: 10px 16px;
      }
    }
    &_text {
      font-size: 16px;
      line-height: 1.4;
    }
  }

  &_content {
    height: 0;
    transition: .5s;
  }

  &_elem {
    transition: .5s;
    border-top: 1px solid $gray200;

    &_buttons {
      padding: 20px 16px;
      display: flex;
    }

    &_button {
      border-radius: 25px;
      margin-left: 10px;
      padding-left: 20px;
      padding-right: 20px;
    }

    &_item {
      padding: 20px 16px 20px;
      box-sizing: border-box;
      font-size: 14px;
      @media(min-width: 992px) {
        font-size: 16px;
      }
    }

    &_wrap {
      display: flex;
      justify-content: flex-end;
      position: relative;
    }

    &_user {
      display: flex;
      flex-direction: row;
      margin: 0 0 7px;

      &_props {
        font-weight: 400;
        line-height: 1.4;
        font-size: 14px;
        @media(min-width: 992px) {
          font-size: 16px;
        }

        &_date {
          color: $area-font-placeholder;
          font-size: 14px;
        }

        &_name {
          font-weight: 500;
        }
      }
    }

    &_content {
      @media(min-width: 992px) {
        padding-left: 52px;
      }
    }

    &_text {
      font-weight: 400;
      line-height: 1.5;
      font-size: 14px;
      @media(min-width: 992px) {
        font-size: 16px;
      }
    }
  }

  &_menu {
    & button {
      transform: rotate(90deg);
    }
  }
}

.avatar {
  margin: 0 12px 0 0;
}