.background_main{
  background-image: url("../../../assets/image/phone-picture.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 860px;
  width: 100%;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}