@import '../../../../commonStyle/variable';

.required {

  label {
    position: relative;

    &::before {
      position: absolute;
      content: '*';
      top: -1px;
      right: -7px;
    }
  }
}

.custom-select-wrap {

  &:last-child {
    margin-bottom: 0;
  }

  &__label {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 14px;
    color: $black;
  }

  &>span {
    display: inline-block;
    margin-top: 8px;
    color: $red;
    font-size: 14px;
  }
}

.custom-select-label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.3;
  color: $black;
}

.CustomSelect {

  .custom-select {

    &__menu {
      z-index: 999;
      position: absolute;
    }

    &__single-value {
      color: $black !important;
    }

    &__control {
      &--is-disabled {
        background: #DDE7ED !important;

      }

      cursor: pointer;
      min-height: 36px;
      background: #FFFFFF;
      border: 1px solid $border-area;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 300;

      &:hover {
        border: 1px solid $border-area;
      }

      &--is-focused {
        outline: none;
        background: $white;
        box-shadow: 0 0 6px rgba(71, 164, 227, 0.08);
        border: 1px solid $border-area-focus;
      }
    }

    &__indicators {}

    &__dropdown-indicator {
      position: relative;
      color: #A4C1D6;
      z-index: 0;

      &:before {
        top: 4px;
        content: '';
        position: absolute;
        width: 9px;
        height: 5px;
        right: 15px;
        background: center/cover no-repeat url("../../../../assets/svg/icons/arrow-select.svg");
      }


      & svg {
        display: none;
      }

      &:hover {
        color: #A4C1D6;
      }
    }

    &__indicator {
      padding: 6px;
    }

    &__indicator-separator {
      display: none;
    }

    &__option {
      font-size: 14px;
      font-weight: 300;
      color: $black !important;

      &:hover {
        background-color: $blue-lighter;
        color: $blue-200 !important;
      }

      &--is-focused {
        background-color: transparent;
      }

      &--is-selected {
        background: $white;
        color: $black;

        &:hover {
          color: $black;
          background-color: $blue-lighter;
        }
      }
    }

    &__placeholder {
      font-size: 14px;
      font-weight: 300;
      line-height: 1;
      color: $gray400;
    }
  }
}

.err_msg {
  display: inline-block;
  margin-top: 8px;

  color: $red;
  font-size: 14px;
}