@import "../../../../commonStyle/variable";

.reset_password{
  width: 100%;
  background: $white;
  margin: auto;
  @media(min-width: 576px) {
    width: 300px;
    border-radius: 20px;
    padding: 20px;
  }
  &_title{
    margin: 0px;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
  }
  &_wrp{

  }
  &_input{
    margin-top: 12px;
    & input{
      color: $blue !important;
    }
  }
  &_btn{
    margin-top: 32px;
    width: 100%;
  }
}
.wrap{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  min-height: calc(80vh - 50px);
}
.success_modal {
  padding: 36px;
  &_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    margin: 0;
    text-align: center;
  }

  &_txt {
    margin: 8px 0 0 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
  }
}