@import "../../../../commonStyle/variable";

.wrapper {}

.label {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $black;
}

.radio {
  display: flex;
  flex-direction: column;
  &_children{
    padding: 0 26px 0 43px;
    @media(min-width: 576px) {
      padding: 0 43px;
    }
  }
}

.radio_wrp {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.input_label {
  display: inline-block;
  margin-left: 11px;
  font-weight: 400;
  font-size: 14px;
  color: $black;
  line-height: 1.3;
}

.label_wrp {
  display: flex;
  padding: 0 15px;
  margin-top: 10px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    input {
      &::before {
        border-color: $green;
      }
    }
  }

  & input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    width: 16px;
    height: 16px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      border: 1px solid $gray200;
    }

    &:checked::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $green;
      transform: translate(-50%, -50%);
      visibility: visible;
    }
  }

  &.required {

    label {
      position: relative;

      &::before {
        position: absolute;
        content: '*';
        top: -1px;
        right: -7px;
      }
    }
  }





}

.invalid {
  & .label_wrp {
    & input {
      display: none;

      &:before {
        border: 1px solid $red;
        background: $white;
      }
    }

    & span {
      color: $red;
    }
  }

  &>span {
    display: inline-block;
    margin-top: 8px;

    color: $red;
    font-size: 12px;
  }
}